<h1>Listings</h1>
    <% if user_signed_in? %>
      <%= link_to 'Add Listing', new_pin_path, class: "btn btn-success btn-lg" %>
    <% end %>
 
          <div id="pins" class="transitions-enabled">
            <% @pins.each do |pin| %>
              <div class="box panel panel-default">
                <div class="panel-body">
                  <%= link_to (image_tag pin.image.url(:medium)), pin %>
                  <p></p>
                  <strong>Manufacturer:</strong>           
                  <%= pin.manufacturer %>
                  <p></p>
                  <strong>Model:</strong>
                  <%= pin.model %>
                  <p></p>
                  <strong>Description:</strong>
                  <%= pin.description %>
                  <p></p>
                  
      <center><%= link_to 'Contact Us', {:controller => "contact", :action => "show", :pin_id => pin.id}, {class: "btn btn-default"} %></center>

                  <% if pin.user == current_user %>
                      <%= link_to 'Edit', edit_pin_path(pin) %>
                      <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>

                  <% end %>
              </div>
            </div>

          <% end %>
        </div>
    
      