<h1>Listings</h1>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_pin_path %>

<% end %>
<table>
  <thead>
  <tr>
      
    </tr>
  </thead>

  <tbody>
    <div id="pins">
      <div class="box">
          <% @pins.each do |pin| %>
            <%= image_tag pin.image.url(:medium) %>
            <strong>Manufacturer:</strong>           
            <%= pin.manufacturer %>
            <p></p>
            <strong>Model:</strong>
            <%= pin.model %>
            <p></p>
            <strong>Description:</strong>
            <%= pin.description %>
            <%= link_to 'Show', pin %>
            <% if pin.user == current_user %>
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>
    <% end %>
  </div>


  </tbody>
</table>

<br>


