
    <div class="panel panel-default">
        <div class="panel-heading center">
              <p></p>
          
              <center><%= image_tag @pin.image.url(:medium) %></center>
              <p></p>
        </div>
          <div class="panel-body">
              <strong>Manufacturer:</strong>
              <%= @pin.manufacturer %>
            <p><strong>Model:</strong>
                <%= @pin.model %>
            </p>
            <p><strong>Description:</strong>
              <%= @pin.description %>
            </p>
          </div>
    </div>
        <center><%= link_to 'Contact Us', {:controller => "contact", :action => "show", :pin_id => @pin.id}, {class: "btn btn-default btn-lg"} %></center>

<br><br/>


<% if @pin.user == current_user %>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>
<p><%= link_to 'Back', pins_path %></p>
